{% extends 'dashboard/base.html' %}
{% block title %}
    Raqam Qo'shish
{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hash Boshqarish</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/group2group">Guruhdan Guruhga</a>
        <a class="nav-link active" href="/addnumber/solded">Raqam Qo'shish (sotib olingan)</a>
      </div>
        <div class="ms-auto">
            <a class="btn btn-outline-danger" href="/logout">Chiqish</a>
        </div>
    </div>
  </div>
</nav>
{% endblock %}
{% block body %}
<div class="container m-auto p-2">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p class="fs-2 text-start">Raqamni kiriting!</p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
                <form method="POST" onsubmit="return validateForm()">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">+</span>
                        <input type="text" class="form-control phone" name="phone_number" placeholder="998777074666" aria-label="Phone number" aria-describedby="basic-addon1" pattern="\d*" inputmode="numeric" required>
                        <button class="btn btn-primary" type="submit">Kod Jo'natish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var phoneNumber = document.querySelector('input[name="phone_number"]').value;
        if (!/^\d+$/.test(phoneNumber)) {
            alert('Please enter a valid phone number containing only digits.');
            return false;
        }
        return true;
    }
</script>
{% endblock %}
