{% extends 'dashboard/base.html' %}
{% block body %}
    <div class="container mt-1 text-center">
        <div class="container text-left mx-auto p-2">
            <div class="row">
                <div class="col">
                    <p class="fs-2">Barcha Profillar soni: {{ all_hashes }}</p>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Profil holati</th>
                    <th scope="col">Profil tirikligi</th>
                    <th scope="col">Telegram Id</th>
                    <th scope="col">Ism</th>
                    <th scope="col">Telefon raqami</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for hash in user_hashes %}
                    <tr>
                        <th scope="row">{{ hash.id }}</th>
                        <td>{{ hash.work_status|work_status }}</td>
                        <td>{{ hash.hash_status|hash_status }}</td>
                        <td>{{ hash.telegram_id }}</td>
                        <td>{{ hash.name }}</td>
                        <td>{{ hash.phone_number }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href="/{{ hash.user_id }}/{{ hash.id }}/unarchive">ochish</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/?page={{ current_page + 1 }}" class="btn btn-primary">Yana ochish</a>
    </div>

{% endblock %}
{% block title %}Asosiy Menyu{% endblock %}