{% extends 'dashboard/base.html' %}

{% block title %}
Joriy va Tamomlangan so'rovlar
{% endblock %}

{% block body %}
<div class="container mt-1 text-center">
    <div class="container text-left mx-auto p-2">
        <div class="row">
            <div class="col">
                <p class="fs-2">Barcha so'rovlar ro'yxati</p>
            </div>
        </div>
    </div>
    <a href="/history/channel" class="btn btn-primary mb-2">Kanal</a>
    <a href="/history/group" class="btn btn-outline-primary mb-2">Guruh</a>
    <a href="/history/private" class="btn btn-outline-primary mb-2">Shaxsiy yozishmalar</a>
    <button class="btn btn-outline-primary mb-2" disabled>Botlar</button>

    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Nomi</th>
                <th scope="col">Link</th>
                <th scope="col">Qo'shilgan Vaqti</th>
                <th scope="col">Chiqish Vaqti</th>
                <th scope="col">Profillar soni</th>
                <th scope="col">Buyurtmachi</th>
            </tr>
            </thead>
            <tbody>
            {% for hash in activities %}
            <tr>
                <th>{{ hash.task_type.value }}</th>
                <th>{{ hash.link }}</th>
                <th>{{ hash.task_added_date }}</th>
                <th>{{ hash.task_expire_date }}</th>
                <th>{{ hash.hash_count }}</th>
                <th>{{ hash.task_author }}</th>
                <th><a href="/force_quit?author={{ hash.task_author }}&link={{ hash.link }}&type=channel"
                       class="btn btn-danger mb-2">Chiqish</a></th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}