{% extends 'dashboard/base.html' %}

{% block title %} Hisobni tahrirlash {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    Hisobni tahrirlash
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('edit_profile', id=user.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="password" class="form-label">Yangi parol</label>
                            {{ form.password(class="form-control", id="password") }}
                        </div>
                        <div class="mb-3">
                            <label for="twofacode" class="form-label">Ikki faktorli tasdiqlash kodi</label>
                            {{ form.twofacode(class="form-control", id="twofacode") }}
                        </div>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                        <a href="{{ url_for('profile_handler') }}" class="btn btn-secondary">Bekor qilish</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
